/*
font-family: 'PT Serif', serif;
font-family: 'Lato', sans-serif;
 */

/*  ------------  reset    ----------- */


html{

    box-sizing: border-box;

}

*, *:before, *.after{

    box-sizing:inherit;
}

/* -------------  base   ------------ */



body{

    font-family: "Lato", sans-serif;

    color: #8e8e8e;
    line-height: 1.5;
}

a{

    color: inherit;

    text-decoration: none;

}

ul{

    list-style: none;

}

/*   ------------- modules   -----------------  */

.menu{

    width: 25%;

    background-color: #181818;

    height: 100vh;

    position: fixed;

    top:0;
    left:0;

}

.menu h2{

    font-family: "PT Serif", serif;

    font-weight: 400;

    font-size: 1.5rem; /* 24px */

    color: #fff;

}

.padding{

    height: 318px;

    /*border-bottom: #6e6e6e 1px solid;*/

    padding: 30px;
}

nav.media ul{

    display: flex;

    justify-content: space-between;

    align-items: center;

    border-bottom: #6e6e6e 1px solid;

    padding:0;

}

nav.media ul li{

    padding: 30px 0 40px;
}

nav.media a{

    font-size: 2rem; /* 32px*/
}

nav.media a:hover{

    color: #de1255;
}


/*  prin  */

.prin ul{

    display: flex;
    flex-direction: column;

    padding:0

}

.prin ul li{

    display: flex;
}

.prin ul li:hover{

    background-color: #002f5f;
}

.prin a{

    flex-grow: 1;

    font-family: "PT Serif", serif;

    padding: 20px 30px;

    font-size: 1.5rem;/*  24px  */

    color: #fff;
}

.prin a:before{

    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    height: 100%;
    /*background: #002f5f;*/
    content: "";
    z-index: -1;
    transition: right .4s;

}

.prin a:hover{

    padding-left: 40px;
}

.prin a:hover:before{

    right:0;
}


/*   main   */



.main{

    padding-left: 33.333%;

    padding-right: 8.3333%
}

header{

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin:0;

    padding-top:30px;
    padding-bottom: 0;
}

.zonelogo{

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.zonelogo h1{

    font-size: 2.25rem; /*36px*/

    color: #002f5f;

    margin:0;
}

.zonelogo h1 span{

    color: #de1255;
}


.zonelogo img{

    width: 70px;
    height: 70px;

    margin-left: 25px;
}

article{

    display: flex;

    align-items: flex-start;

    margin-bottom:0;

   padding-top: 30px;

    padding-bottom: 30px;

    border-bottom: #ebebeb 1px solid;

}

article:nth-child(even) a{

    color: #de1255;
}

article:nth-child(odd) a{

    color: #002f5f;
}


article:nth-child(even) .date{

    color: #de1255;
}

article:nth-child(odd) .date{

    color: #002f5f;
}


.date p{

    display: flex;

    justify-content: center;

    align-items: center;

    width: 110px;

    height: 110px;


    border: 10px solid #ebebeb;

    border-radius: 50%;

    font-family: "PT Serif", serif;

    font-size: 1.5rem; /*24px*/

    font-weight: bold;

}

.auteur{

    margin: 0;

    padding-top: 40px;

    padding-left: 20px;

    padding-bottom: 15px;

    border-bottom: 1px solid #ebebeb;

    font-family: "PT Serif", serif;

    color: #ebebeb;

}


.content h3{

    margin-top:25px;

    margin-bottom:0;

    padding-left: 20px;

    font-family: "PT Serif", serif;

    font-size: 2rem; /*32px*/

    font-weight: bold;

    color: #272727;

}

.content p{

    padding-left: 20px;

    font-family: "Lato", sans-serif;

    font-size: 1rem; /*16px*/

    line-height: 1.5rem; /*24px*/

    color: #ebebeb;

}

.suite{

    padding-left: 20px;

    margin-bottom: 35px;

    font-family: "PT Serif", serif;

    font-size: 1rem; /*16px*/

    font-weight: 700;

    color: #de1255;

}


.boite{

    width: 50%;

    padding: 20px;

    font-family: "PT Serif", serif;

    font-size: 2rem; /*32px*/

    font-weight: 700;

    line-height: 3rem; /*48px*/

    float: right;
}

article img{

    max-width: 100%;
    width: 100%;
}


